* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --text-color: #E1E1E6;
    --green-primary: #092D38;
    --green-secondary: #4A808C;
    --green-third: #065E7C;
}
 
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 1.6rem;

    display: flex;
    align-items: center;
}

.sr-only  {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#app {
    padding: 2rem;
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid red;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user img {
    width: 56px;
    height: 56px;
    border-radius: 56px;
}

header img {
    width: 186px;
    height: 32px;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
}

.search input {
    display: flex;
    padding: 16px;
    align-items: center;
    width: 462px;
    border-radius: 5px;
    background: #06181C;
    border: none;
    color: #7C7C8A;
}

.search input::placeholder{
    color: #7C7C8A;
}

button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    background: #065E7C;
    border: none;
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;
    color: #E1E1E6;
}

button:hover {
    background: #FFF;
    color: #065E7C;

}

button i {
    font-size: 24px;
}

.action button {
    background-color: transparent;
    color: #F75A68;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
    cursor: pointer;
}